body{
    background-color: rgb(69, 77, 69);
    color: white;
}

.main-conteiner{
    width: 90%;
    margin: 0 auto;
    min-width: 310px;
}

.pic-1{
    margin: 10px;
}
.img-1{
    width: 100%;
    margin-top: 100px;
}
.view{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.play{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid yellow;
    margin-right: 10px;
}

/* -------------------- */

.part-two{
    width: 100%;
    background-color:rgb(224, 226, 209);


}
.box{
    border: 2px solid gray;
    margin: 30px 0;
}

.conteiner-play{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hotline{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(100, 100, 100) ;
    margin-right: 10px;
}